server:
  port: 8091
spring:
  application:
    name: Product-Center
  cache:
    type: redis
  cloud:
    # Nacos配置
    nacos:
      server-addr: 121.196.168.154:8848
  # Mybatis-Plus配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/Food_domain?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8
    username: root
    password: Wangsi12
    # Druid配置
    type: com.alibaba.druid.pool.DruidDataSource
    initialSize: 5
    minIdle: 5
    maxActive: 20
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1 FROM DUAL
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    filters: stat,wall
    maxPoolPreparedStatementPerConnectionSize: 20
    useGlobalDataSourceStat: true
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=500
  redis:
    redisson:
      config: classpath:redisson.yml
    host: 121.196.168.154
    port: 6379
    database: 0
    password: Wangsi12
    jedis:
      pool:
        max-active: 8
        min-idle: 0
        max-wait: 500
        max-idle: 8
    timeout: 1000

management:
  endpoints:
    web:
      exposure:
        include: '*'
# Mybatis-Plus配置
mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.wang.productcenter.entity
#  configuration:
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
logging:
  level:
    root: info